* {

    margin: 0px;
    padding: 0px;
}

/* Responsive Youtube */
.post-body iframe {
    width: 100% !important;
}

@media screen and (max-width:960px) {
    .post-body iframe {
        max-height: 90%
    }
}

@media screen and (max-width:768px) {
    .post-body iframe {
        max-height: 73%
    }
}

@media screen and (max-width:600px) {
    .post-body iframe {
        max-height: 60%
    }
}

@media screen and (max-width:480px) {
    .post-body iframe {
        height: auto !important;
        max-height: auto !important
    }
}
#select li {
    font-family: 'Pacifico', cursive;
	justify-content: space-between;
	display: inline-table;
	padding: 12px 20px;
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: 40px;
	margin-right: 40px;
	border-radius: 50px;
	transition: .5s background-color;

}
#select{
    margin: 4%;
    border-radius: 12px;
    border:solid 1px slategray ;
}
#select li:hover {
	background-color: lightgreen;
}

#select a {
	color: #000;
	text-decoration: none;
}

div.gellery {
    background-color: white;
    margin-top: 4%;
    border: 4px rgb(182, 181, 181) solid;
    display: inline-block;
    border-radius: 40px;
    margin-left: 20px;
    margin-right: 20px;
    transition: .5s border;

}

div.gellery:hover {
    border: 4px lightgreen solid;

}

div.Dis {
    padding: 15px;
    text-align: center;
    font-size: large;
}

div.gellery img {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
#circle {
    width: 70px;
    height: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 0px;
    background-color: rgb(78, 76, 76);
    transition: .4s width, .4s font-size;
}



#circle a {
    font-weight: bolder;
    color: #28a15a;
    font-size: 35px;
    width: 60px;
    height: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 0px;
    background-color: rgb(78, 76, 76);
}

#Footer {
    background-color: rgb(78, 76, 76);
    height: 80px;
    width: 100%;
}

.Social {
    float: right;
    padding: 16px;
}
#Footer p{
    font-size: larger;
    color: #F5B041;
    padding: 16px;
    text-align: left;
}

#footer2
{
    margin-top: 9%;
}
 